<h3>Welcome to my marathon app!</h3>

<p>This application was buit in the timespan of 6 hours to practice for LA Hacks.</p>

<%= link_to 'Click Here to Let er Buck', new_user_path, class: 'btn btn-success btn-large' %>


