<p>Have you been allowing her to buck like a Wyoming cowboy would?</p>
<p>If you answered yes to the question above, you may register</p>
<br/>

<div class='well'>
	<%= form_for @user do |f| %>
		<div class='control-group'>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>
		<%= f.submit "Register a new Cowboy", class: 'btn btn-success btn-large' %>
	<% end %>
</div>