<h3>Welcome to my marathon app!</h3>

<p>This application was buit in the timespan of a few hours to practice for LA Hacks.</p>

<%= link_to 'Click Here to Register a new  Cowboy', new_user_path, class: 'btn btn-success btn-large' %>

<%= link_to 'Click Here to Add a Cowboy Rodeo Review', users_path , class: 'btn btn-success btn-large' %>


